*,
*::before,
*::after {
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    max-width: 1170px;
    padding: 10px 15px;
    font-family: 'Roboto', sans-serif;
}

.main-input {
    width: 80%;
    padding: 15px;
    font-size: 24px;
    align-self: flex-start;
}

.main-form {
    display: flex;
    margin-bottom: 30px;
}

#addBtn {
    width: 20%;
    font-size: 24px;
    outline: none;
    border: none;
    background: royalblue;
    color: white;
}

.task {
    border: solid 1px black;
    padding: 15px 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.task-text {
    margin: 0;
}

.task-delete {
    border: none;
    outline: none;
    text-transform: uppercase;
    background: red;
    color: white;
    padding: 10px;
}